<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运营服务</title>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>

    <script src="/javascripts/managementAngular.js"></script>
    <link rel="stylesheet" href="stylesheets/management.css">
</head>
<body ng-app="myApp">
<mynav  ng-controller="scrollHide"></mynav>
<div>
    <img src="lib/img/Engineer.jpg" style="width: 100vw;"/>
    <h1>
        专业化运营服务,懂你所想
    </h1>
</div>
<h2 style="text-align:center; margin-top: 100px; margin-bottom: 60px;">为什么选择我们</h2>
<div class="row" style="margin-top: 30px; margin-bottom: 30px">
    <div class="col-sm-4 col-xs-12">
        <h4 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">严格培训的专业运营队伍</h4>
        <p style="line-height: 200%; width: 60%; margin:auto; margin-top: 30px; text-align: center;">
            人员具有丰富的现场工作经验，正确、熟练地掌握相关设备的方法和原理、
            操作使用和维护保养，按照相应技术规范执行任务，全面保证在线监测系统运行的稳定性
        </p>
    </div>
    <div class="col-sm-4 col-xs-12">
        <h4 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
            完善的运营管理制度，合理的运营资源配置</h4>
        <div style="text-align: center;">
            <img src="lib/img/nounProject/ma2.png" style="width: 120px;"/>
        </div>
        </p>
    </div>
    <div class="col-sm-4 col-xs-12">
        <h4 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">种类齐全的备品备件</h4>
        <div style="text-align: center;">
            <img src="lib/img/nounProject/ma3.png" style="width: 120px;"/>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 30px; margin-bottom: 30px">
    <div class="col-sm-4 col-xs-12">
        <h4 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
            有效的技术支撑</h4>
        <p style="line-height: 200%; width: 60%; margin:auto; margin-top: 30px; text-align: center;">
            定期开展的各类培训，为公司运营项目提供专业的人员、技术方面的支持
        </p>
    </div>

    <div class="col-sm-4 col-xs-12">
        <h4 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">先进完善的管理软件</h4>
        <p style="line-height: 200%; width: 60%; margin:auto; margin-top: 30px; text-align: center;">
            拥有成熟的基于互联网技术的运维平台，能够实时监管运营状况，
            对故障处理情况进行跟踪，并可对运营单位的运营效果进行统计评估，
            实现监管单位管理自动化、任务调度自动化、运营厂商管理自动化、
            设备厂商管理自动化
        </p>
    </div>

    <div class="col-sm-4 col-xs-12">
        <h4 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">灵活的运营模式</h4>
        <p style="line-height: 200%; width: 60%; margin:auto; margin-top: 30px; text-align: center;">
            根据不同用户需求，可选择不同类型的运营服务方式：部分托管运营模式、完全托管运营模式等
        </p>
    </div>
</div>

<myfooter></myfooter>
</body>
</html>