<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>水质在线监测</title>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.7.2/angular.min.js"></script>

    <script src="/javascripts/waterAngular.js"></script>
    <link rel="stylesheet" href="/stylesheets/water.css">
</head>
<body ng-app="myApp">
<mynav  ng-controller="scrollHide"></mynav>
<div style="margin-top: 100px;">
    <img src="lib/img/products/water2.png" style="height: 50vh; display: inline-block">
    <img src="lib/img/products/water.png" style="height: 50vh; display: inline-block">
    <h1 style="display: inline-block;">污染源水质在线自动监测系统</h1>
</div>

<div style="background-color: #f8f8f8; padding-top: 50px; padding-bottom: 30px;">
    <p style="width: 80vw; line-height: 300%; margin: auto; text-align: center;">
        <span style="font-size: 25px;">污染源水质在线自动监测系统</span>
        以自主开发的水质在线自动监测仪器为核心，
        并可集成其他各类分析仪，充分利用<span class="em">物联网、云计算</span>
        等新一代信息技术，并综合自动控制、无线通讯、数据库及网络工程等技术，
        实现区域污染物质的数字化管理，提高环保管理水平和决策水平。
    </p>
</div>

<div style="padding-top: 30px; padding-bottom: 30px;">
    <h2 style="text-align:center; margin-bottom: 30px;">应用领域</h2>
    <h4 style="width: 80vw; line-height: 300%; margin: auto; text-align: center;">
        适用于市政污水、工业废水、工业过程控制、污水深度处理等各种污染水体的监测。
    </h4>
</div>

<div style="background-color: #f8f8f8; padding-top: 30px; padding-bottom: 30px;">
    <h2 style="text-align:center; margin-bottom: 30px;">系统构成</h2>
    <div class="row">
        <div class="col-sm-6 col-xs-12 text-center">
            <img src="lib/img/nounProject/computerTower.png" style="width: 60%"/>
        </div>
        <div class="col-sm-6 col-xs-12">
            <h4 style="width: 80vw; line-height: 200%;">系统监控中心</h4>
            <hr class="compressedHr">
            <h4 style="width: 80vw; line-height: 200%;">传输单元</h4>
            <hr class="compressedHr">
            <h4 style="width: 80vw; line-height: 200%;">智能站点</h4>
            <p style=" line-height: 200%;">
                智能站点由采水单元、配水单元、分析单元、数据采集和控制单元、辅助单元组成。
            </p>
            <hr class="compressedHr">
            <h4 style="width: 80vw; line-height: 200%;">站房</h4>
            <hr class="compressedHr">
        </div>
    </div>
    <p style=" line-height: 200%; margin:auto; text-align: center; width: 80%;">
        系统支持常规水质指标如pH、电导率、流量计、CODcr、氨氮等的监测，
        并可根据用户需求扩展总氮、总磷等监测因子。
        针对近年国内频发的各类重金属污染事件，推出新一代水质重金属检测仪，
        可监测的重金属因子包括：铅、汞、铬、镉、砷、铜、锌、锰、镍、铁等。
    </p>
</div>

<div style="padding-top: 30px; padding-bottom: 30px;">
    <h2 style="text-align:center; margin-bottom: 30px;">方案优势</h2>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 col-xs-12" style="text-align:center;">
            <p style="width: 80%; line-height: 200%; margin: auto; padding-top: 30px; padding-bottom: 30px;">
                将<span class="em1">环境监测、集成技术和预警相融合</span>，
                能实现对污染物质的实时监测和应急指挥，加强环境保护，确保水质安全；
            </p>
        </div>
        <div class="col-sm-2 col-xs-12" style="text-align:center;">
            <p style="width: 80%; line-height: 200%; margin: auto; padding-top: 30px; padding-bottom: 30px;">
                实现网络监控、数据通讯、数据采集传输、现场监测设备的
                <span class="em1">一体化</span>，实现现场监测设备和网络监控设备的有效联网和管理；
            </p>
        </div>
        <div class="col-sm-2 col-xs-12" style="text-align:center;">
            <p style="width: 80%; line-height: 200%; margin: auto; padding-top: 30px; padding-bottom: 30px;">
                具备可<span class="em1">扩展性</span>
                的原则，可根据要求配备其他理化指标
            </p>
        </div>
        <div class="col-sm-2 col-xs-12" style="text-align:center;">
            <p style="width: 80%; line-height: 200%; margin: auto; padding-top: 30px; padding-bottom: 30px;">
                <span class="em1">定制化方案</span>，
                针对不同现场条件提供不同的集成和数据传输系统
            </p>
        </div>
        <div class="col-sm-2 col-xs-12" style="text-align:center;">
            <p style="width: 80%; line-height: 200%; margin: auto; padding-top: 30px; padding-bottom: 30px;">
                专业的<span class="em1">运维保障</span>，
                确保系统和设备的有效运行：全面托管/部分托管/TO/BOO方式，完善的运维装备配置和管理制度。
            </p>
        </div>
        <div class="col-sm-1"></div>

    </div>
</div>

<myfooter></myfooter>
</body>
</html>