.navListItem {
    color: white;
}

.navListItem:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

.productHr{
    margin-top: 0;
    margin-bottom: 15px;
    margin-right: 50px;
    border-color: #abe2e7;
}

a{
    color: black;
}

a:hover{
    text-decoration: none;
    color: #afafaf;
}

h4{
    display: inline-block;
}

.deco{
    font-size: 40px;
    color: #00b5ec;
}

h1{
    color: white;
    text-align: center;
    font-size: 5vmax;
    position: absolute;
    bottom: 50%;
    left: 20vw;
    width: 60vw;
    margin:0;
    padding:0;
    text-shadow: #afafaf 1px 0 1px,#afafaf 0 1px 1px,#afafaf -1px 0 1px,#afafaf 0 -1px 1px;
}