.navListItem {
    color: white;
}

.navListItem:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a > img:hover {
    opacity: 0.5;
}

h1{
    color: #afafaf;
    text-align: center;
    font-size: 5vmax;
    position: absolute;
    bottom: 50%;
    left: 20vw;
    width: 60vw;
    margin:0;
    padding:0;
    text-shadow: white 1px 0 1px,white 0 1px 1px,white -1px 0 1px,white 0 -1px 1px;
}